//- Axate AMP


//- As you already have many of the same AMP features we use 
//- included in your AMP template, I've stripped them out of this include


//- Axate AMP Stylesheet
//- Note: it would be best to include this CSS as is
style(amp-custom)
	include axate.css

script(async, src="https://cdn.ampproject.org/v0.js")

script(async, async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")
script(async, custom-element="amp-access" src="https://cdn.ampproject.org/v0/amp-access-0.1.js")
script(async, custom-element='amp-mustache', src='https://cdn.ampproject.org/v0/amp-mustache-0.2.js')

//- AMP Access - https://amp.dev/documentation/components/amp-access/
script(id='amp-access', type='application/json').
	{
		"noPingback": true,
		"authorization": "https://staging.agate.io/api/authorisation?domain=CANONICAL_URL&rid=READER_ID&url=CANONICAL_URL&premium=true",
		"login": {
			"sign-in": "https://account-staging.agate.io/my-agate/sign-in?rid=READER_ID&url=CANONICAL_URL&url_from=DOCUMENT_REFERRER&pub_id=localhost&publication_name=Localhost",
			"sign-out": "https://staging.agate.io/api/amp_logout?url=CANONICAL_URL&url_from=DOCUMENT_REFERRER",
			"sign-up": "https://account-staging.agate.io/my-agate/sign-up?publication_name=localhost&pub_id=localhost&url_from=CANONICAL_URL",
			"top-up": "https://account-staging.agate.io/top-up?domain=localhost&from=CANONICAL_URL",
			"set-threshold-yes": "https://staging.agate.io/amp/set_threshold?domain=CANONICAL_URL&rid=READER_ID&url=CANONICAL_URL&url_from=DOCUMENT_REFERRER&amount=100",
			"set-threshold-no": "https://staging.agate.io/amp/set_threshold?domain=CANONICAL_URL&rid=READER_ID&url=CANONICAL_URL&url_from=DOCUMENT_REFERRER&amount=0",
			"authorise-charge-true": "https://staging.agate.io/amp/authorise_charge?charge_automatically=true&domain=CANONICAL_URL&rid=READER_ID&url=CANONICAL_URL&url_from=DOCUMENT_REFERRER",
			"authorise-charge-false": "https://staging.agate.io/amp/authorise_charge?charge_automatically=false&domain=CANONICAL_URL&rid=READER_ID&url=CANONICAL_URL&url_from=DOCUMENT_REFERRER"
		},
		"authorizationFallbackResponse": {
			"error": true,
			"user": false
		}
	}

style(amp-boilerplate type="text/css").
	body {
		-webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
		-moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
		-ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
		animation: -amp-start 8s steps(1, end) 0s 1 normal both
	}
	@-webkit-keyframes -amp-start {
		from {
			visibility: hidden
		}
		to {
			visibility: visible
		}
	}
	@-moz-keyframes -amp-start {
		from {
			visibility: hidden
		}
		to {
			visibility: visible
		}
	}
	@-ms-keyframes -amp-start {
		from {
			visibility: hidden
		}
		to {
			visibility: visible
		}
	}
	@-o-keyframes -amp-start {
		from {
			visibility: hidden
		}
		to {
			visibility: visible
		}
	}
	@keyframes -amp-start {
		from {
			visibility: hidden
		}
		to {
			visibility: visible
		}
	}

noscript
	style(amp-boilerplate).
		body {
			-webkit-animation: none;
			-moz-animation: none;
			-ms-animation: none;
			animation: none
		}
