//- Axate Debug
div(amp-access="NOT error AND loggedIn")
	template(amp-access-template type="amp-mustache")
		div(data-axate-debug="messages")
			p(data-axate-debug="msg") Gauge
			| {{#isGaugeEmpty}}
			p(data-axate-debug="msg") isEmpty
			| {{/isGaugeEmpty}}
			| {{#isGaugeFull}}
			p(data-axate-debug="msg") isFull
			| {{/isGaugeFull}}
			| {{#isGaugeStateOne}}
			p(data-axate-debug="msg") isStateOne
			| {{/isGaugeStateOne}}
			| {{#isGaugeStateTwo}}
			p(data-axate-debug="msg") isStateTwo
			| {{/isGaugeStateTwo}}

//- Axate AMP - Component - Wallet Handle
div(class="axate__wallet-handle")
	div(amp-access="NOT error")
		template(amp-access-template type="amp-mustache")
			| {{^notice}}
			a(class="axate-amp__status__default" href="#axate")
			| {{/notice}}
			| {{#notice}}
			| {{#type}}
			| {{^is_insuf_balance}}
			a(class="axate-amp__status__default" href="#axate")
			| {{/is_insuf_balance}}
			| {{#is_insuf_balance}}
			a(class="axate-amp__status__balance-low" href="#axate")
			| {{/is_insuf_balance}}
			| {{/type}}
			| {{/notice}}
		div(amp-access="error")
			template(amp-access-template type="amp-mustache")
				a(class="axate-amp__status__error" href="#axate" amp-access="error")

div(id="axate")
	div(amp-access="NOT error AND NOT loggedIn" class="axate-amp__container")
		template(amp-access-template type="amp-mustache")
			main(class="axate-amp__notice")
				p.
					We recently ditched banner ads on our site in favour of a more sustainable, less intrusive solution.
				p.
					Just create a wallet with our payment partner Agate and you'll be good to go.
					Pay {{publisher.article_cost}} per article, no more that {{publisher.cap_cost}} per week
				button(on="tap:amp-access.login-sign-up" class="axate-amp__button" role="button" ref="buttonLogin").
					Pay per article
				footer
					p.
						Already have an account? #[a(on="tap:amp-access.login-sign-in" ref="buttonLogin") Login here].

a(class="axate-amp__article-link" href="#") Jump to article



div(amp-access="NOT error AND loggedIn")
	template(amp-access-template type="amp-mustache")
		| {{#isNotice}}
		main(class="axate-amp__notice")
			| {{#notice}}
			h5(class="axate-amp__notice__logo") Axate
			h2 {{title}}
			p {{description}}
				| {{#type}}
				| {{#is_amount_gt_threshold}}
				div(class="axate-amp__notice-text")
					h5 You have chosen to authorise every charge
					p(class="axate-amp__notice-threshold").
						This article is {{publisher.article_cost}} but you will never pay more than {{publisher.cap_cost}} per week for {{publicationName}}.
					div(class="axate-amp__toggle-container")
						p(class="axate-amp__toggle-text")
							span Charge me automatically
						input(class="axate-amp__toggle-checkbox" id="authorise-charge" type="checkbox")
						label(class="axate-amp__toggle-label" for="authorise-charge")
						div(class="axate-amp__toggle-button-container")
							button(class="axate-amp__button axate-amp__button--thin" data-axate-action="toggle-unchecked" role="button" on="tap:amp-access.login-authorise-charge-true" title="Autocharge = OFF") Continue Reading
							button(class="axate-amp__button axate-amp__button--thin" data-axate-action="toggle-checked" role="button" on="tap:amp-access.login-authorise-charge-false" title="Autocharge = ON") Continue Reading
					| {{/is_amount_gt_threshold}}
					| {{#is_insuf_balance}}
					code Insufficient Balance Warning/Notice
					| {{/is_insuf_balance}}
					| {{#is_new_pricing}}
					code Updated Publication Pricing
					| {{/is_new_pricing}}
					//- Begin: Reader is new to Axate and this publication
					| {{#is_new_publication}}
					div(class="axate-amp__notice-text")
					div(class="axate-amp__toggle-container")
					p(class="axate-amp__toggle-text")
						span Charge me automatically for &#x7B;publisher.name&#x7D; from now on
						input(class="axate-amp__toggle-checkbox" id="set-threshold-toggle" type="checkbox" checked)
						label(class="axate-amp__toggle-label" for="set-threshold-toggle")
						div(class="axate-amp__toggle-button-container")
							button(class="axate-amp__button axate-amp__button--thin"
						data-axate-action="toggle-checked" role="button" on="tap:amp-access.login-set-threshold-yes"
						title="Autocharge = ON") Confirm &amp; Continue Reading for {{publisher.article_cost}}
						button(class="axate-amp__button axate-amp__button--thin"
						data-axate-action="toggle-unchecked" role="button" on="tap:amp-access.login-set-threshold-no"
						title="Autocharge = OFF") Confirm &amp; Continue Reading for {{publisher.article_cost}}
					| {{/is_new_publication}}
					| {{#is_show_finish_no_funds_notice}}
					button(on="tap:amp-access.login-top-up" class="axate-amp__button axate-amp__button--thin" role="button") Add funds
					small {{publicationName}} is published independently of Axate.
					| {{/is_show_finish_no_funds_notice}}
					| {{#is_show_finish_notice}}
					div(class="axate-amp__notice-text axate-amp__notice-bold")
						h5 Tap OK to pay {{publisher.article_cost}}
						p You’ll never pay more than {{publisher.cap_cost}} per week for {{publicationName}}.
						p Do you want to approve all charges on this site?
						div(class="axate-amp__toggle-container axate-amp__notice-bold")
						p(class="axate-amp__toggle-text")
							strong Yes, charge me automatically
							br
							span Switch off to approve each charge
						input(class="axate-amp__toggle-checkbox" id="set-threshold-toggle" type="checkbox" checked)
						label(class="axate-amp__toggle-label" for="set-threshold-toggle")
						div(class="axate-amp__toggle-button-container")
							button(class="axate-amp__button axate-amp__button--thin" data-axate-action="toggle-checked" role="button" on="tap:amp-access.login-set-threshold-yes" title="OK - Yes, charge me automatically") OK
							button(class="axate-amp__button axate-amp__button--thin"  data-axate-action="toggle-unchecked" role="button" on="tap:amp-access.login-set-threshold-no" title="OK - No, I would like to manually authorise charges") OK
						small {{publicationName}} is published independently of Axate.
					| {{/is_show_finish_notice}}
					| {{#on_subscription}}
					code On Subscription
					| {{/on_subscription}}
				| {{/type}}
			| {{/notice}}
		| {{/isNotice}}




	//- Axate AMP - Component - Wallet
	section(amp-access="NOT error AND loggedIn" class="axate-amp__container")
		template(amp-access-template type="amp-mustache")
			| {{#wallet}}
			//- Wallet flipper
			label(for="axate-amp__wallet-flip")
			input(id="axate-amp__wallet-flip" type="checkbox" class="axate-amp__wallet-flipper")
			//- End Wallet flipper
			section(class="axate-amp__wallet")

				//- Front of wallet
				section(class="axate-amp__flip-face axate-amp__front")
					header(class="axate-amp__header")
						div(class="axate-amp__balance")
							div(amp-access="NOT error AND loggedIn")
								h4(class="amp-access-axate-logo__container") Axate
								div(class="axate-amp__balance__container")
									span(class="axate-amp__balance__amount" ref="balance") {{wallet.balance}}
									span(class="axate-amp__balance__subtitle").
										Total balance
							button(on="tap:amp-access.login-top-up" class="axate-amp__button axate-amp__button--thin" role="button").
								Top up
							main(class="axate-amp__main")
								div(class="axate-amp__information")
									div(class="axate-pricing-container")
										p(class="axate-pricing-per-article")
											strong {{publisher.article_cost}}
											span per article
										p(class="axate-pricing-per-week")
											strong {{publisher.cap_cost}}
											span free point/per week
									div(class="axate-gauge-container")
										svg(class="axate-gauge" width="120" height="120" viewBox="0 0 120 120")
											circle(class="axate-gauge-progress__meter" cx="60" cy="60" r="56" stroke-width="5")
											circle(class="axate-gauge-progress__value" cx="60" cy="60" r="56" stroke-width="5" style="stroke-dasharray: 399.992; stroke-dashoffset: {{wallet.gaugeSVGStrokeDashOffset}};")
										//- Gauge Text
										| {{#isGaugeEmpty}}
										p(class="axate-gauge-inner-text" title="isEmpty")
											strong {{wallet.remainingUntilFree}}
											span until free
										| {{/isGaugeEmpty}}
										| {{#isGaugeStateOne}}
										p(class="axate-gauge-inner-text" title="isGaugeStateOne")
											strong {{wallet.remainingUntilFree}}
											span until free
										| {{/isGaugeStateOne}}
										| {{#isGaugeStateTwo}}
										p(class="axate-gauge-inner-text" title="isGaugeStateTwo")
											strong {{wallet.remainingUntilFree}}
											span until free
										| {{/isGaugeStateTwo}}
										| {{#isGaugeFull}}
										p(class="axate-gauge-inner-text")
											strong Free
											span {{wallet.freeUntilDate}}
										| {{/isGaugeFull}}

								footer
								| {{#warning}}
								section(ref="warning" class="axate-amp__warning")
									p(ref="warningText" class="axate-amp__warning__text") {{warning}}
								| {{/warning}}


				//-  Back of wallet
				section(class="axate-amp__flip-face axate-amp__back")
					header(class="axate-amp__header")
						div(class="axate-amp__balance")
							h4(class="amp-access-axate-logo__container") Axate
							div(class="axate-amp__settings-panel")
								ul
									li(class="axate-amp__setting-icon__account")
										a(data-ui="button" title="Account" href="https://{{accountUrl}}/my-agate/account" target="_blank")
											div
											span Account
									li(class="axate-amp__setting-icon__help")
										a(data-ui="button" title="Help" href="mailto:support@axate.com?subject=I have feedback or a question (My ID is: {{wallet.id}})")
											div
											span Help
									li(class="axate-amp__setting-icon__feedback")
										a(data-ui="button" title="Feedback" href="mailto:support@axate.com?subject=Report a bug")
											div
											span Feedback
									li(class="axate-amp__setting-icon__log-out")
										a(data-ui="button" title="Log out" href="#" on="tap:amp-access.login-sign-out")
											div
											span Log out
					main(class="axate-amp__main")
						div(class="axate-amp__section_publication_name")
							h3 {{publicationName}}
						div(class="axate-amp__section_cost")
							p Free point/week:
							span(class="axate-amp__currency_amount") {{publisher.cap_cost}}
							p(class="axate-amp__section_smalltext") (updates on Mon Aug 12 2019)
							p(class="axate-amp__section_description").
								Once you spend {{publisher.cap_cost}} in a week your free reading continues until Mon Aug 12 2019.

			| {{/wallet}}


			footer(class="axate-amp__footer")

				| {{#wallet}}
				a(class="axate-amp__footer__center" href="#") Go back to article
				| {{/wallet}}

		section(amp-access="error" class="axate-amp__container" amp-access-hide)
			section(ref="warning" class="axate-amp__warning")
				p(ref="warningText" class="axate-amp__warning__text").
					TODO - Improve this error message
				p(ref="warningText" class="axate-amp__warning__text").
					Oops... Something broke.
