/**
 * Axate
 */



 /**
  * $axate-green: #1BB580; 
  * $axate-red: #D9534F; 
  * $axate-amber: #F0AD4E; 

  */

 /* Debug */

[data-axate-debug="messages"] { 
  pointer-events: none;
  position: fixed;
  top: 15px;
  right: 15px;
  font: 10px monospace;
}

[data-axate-debug="msg"] {
  background: dodgerblue;
  opacity: .75;
  color: white;
  padding: 5px 10px;
  margin: 0 0 5px 0;
}

[amp-access="error"] {
  background: firebrick;
}


/**
 * Walet Handle
 */
.axate__wallet-handle {
  /* outline: 10px solid rgba(0,255,255,.5); */
  z-index: 9999;
  position: fixed;
  top: 55px;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 0 4px 4px 0;
}

.axate__wallet-handle a {
  /* outline: 10px solid rgba(0,0,255,.5); */
  width: 36px;
  height: 36px;
  position: absolute;
  display: block;
  top: 0; 
  left: 0;
  border-radius: 0 4px 4px 0;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 121 113' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M120.74 98.596c0 7.664-6.215 13.88-13.88 13.88-7.668 0-13.883-6.216-13.883-13.88 0-7.668 6.215-13.883 13.882-13.883 7.666 0 13.881 6.215 13.881 13.883M49.868 87.471H30.2l28.368-52.29 27.587 50.847c4.195-6.41 11.322-10.7 19.48-11.002L68.4 6.388A11.189 11.189 0 0058.568.536a11.18 11.18 0 00-9.831 5.852L1.576 93.326a11.18 11.18 0 00.217 11.052 11.187 11.187 0 009.613 5.467h38.462c6.177 0 11.186-5.009 11.186-11.186 0-6.178-5.01-11.188-11.186-11.188'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px; 
}

/* .axate__wallet-handle, */
.axate__wallet-handle .status__default {
  background-color: #1BB580;
}
.axate__wallet-handle > .status__free {
  /* TODO - Add free point background image */
}
.axate__wallet-handle .status__warning, 
.axate__wallet-handle .status__balance-low {
  background-color: #F0AD4E;
}
.axate__wallet-handle .status__error {
  background-color: #D9534F;
}



.amp-access-agate__container {
  background: #333B4D;
  font-family: 'Source Sans Pro', sans-serif;
  color:white;
  text-align: center;
  overflow: hidden;
}

.amp-access-agate__main {
  padding: 1.5rem 1.5rem;
}

.amp-access-agate__header {
  background: #2E3646;
  text-align: center;
  border-bottom: 2px solid #595E6A;
  width: 100%;
  padding: 0.5rem 0 1rem 0;
}
.amp-access-agate__header button {
  margin-top: 0.5rem;
}

.amp-access-agate__footer {
  border-top: 2px solid #595E6A;
  padding: 1rem 1.5rem;
  background: #2a3140;
  display: flex;
  align-items: flex-end;
}

.amp-access-agate__container p {
  margin: 1rem 0 0 0;
}

.amp-access-agate__container p.sub-text {
  margin-top: 0.5rem;
  font-size:0.85rem;
  color: #7F848F;
}

.amp-access-agate__container p.highlight {
  color: #1BB580;
}

.amp-access-agate__gauge {
  margin: 2rem 0 1rem 0;
}

.amp-access-agate__footer__brand {
  margin:0;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
}

/* Notice */

.amp-access-agate__notice p {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.amp-access-agate__notice footer p {
  margin-top: 1rem;
  font-size: 1rem;
}
.amp-access-agate__notice footer a {
 text-decoration: underline;
 cursor: pointer;
}
.amp-access-agate__footer__account{
  flex:1;
  text-align: right;
  color: #1BB580;
}

.amp-access-agate__balance__amount {
  font-size: 1.25rem;
  margin: 0;
}



/* Buttons */

.amp-access-agate__button {
  opacity: 0.9;
  transition: 0.4s;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  background: #1BB580;
  color: white;
  border-radius: 2rem;
  border: none;
  padding: 0.75rem 2rem;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
  width:100%;
}



.amp-access-agate__button:hover {
  opacity:1;
}

.amp-access-agate__button--thin {
  width:auto;
}

.amp-access-agate__button--danger {
  background: #D75452;
}

.amp-access-agate__button--secondary {
  background: #6f7490;
}





/* Pricing */

.amp-access-agate__pricing {
  background: #505766; 
  padding: 0.75rem 0;
  border-radius: 0.25rem;
  display: flex;
}
.amp-access-agate__pricing__item{
      width: 50%;
      text-align: center;
}

.amp-access-agate__pricing__item--first {
  border-right: 1px solid #2E3646;
}
.amp-access-agate__pricing__item__amount {
  display: inline-block;
}

.amp-access-agate__pricing__item__price {
  font-weight: 600;
}

/* Warning */

.amp-access-agate__warning {
  background:#D75452;
  padding: 1.5rem;
  margin: 1rem 0; 
  color:#fff;
}
p.amp-access-agate__warning__text {
  margin: 0rem; 
}

